@using Microsoft.AspNetCore.Identity;
@using Microsoft.Extensions.Options;
@using Wreade.Persistence.DAL;
@using Wreade.Persistence.Implementations.Services;
@inject LayoutService service
@inject UserManager<AppUser> _userManager;
@inject IOptions<StripeSettings> Stripe;
@{
	PaginationVM<Setting> vm = await service.GetAllAsync();
	ICollection<Category> categories = await service.GetCategoriesAsync();
	@* @if (User.Identity.IsAuthenticated) *@


	AppUser user = await _userManager.FindByNameAsync(User.Identity.Name);


}﻿
<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>WREADE</title>
	<link rel="shortcut icon" href="~/assets/images/logo/favourite-icon.png">
	<link rel="stylesheet" href="~/manage/vendors/flag-icon-css/css/flag-icon.min.css">
	<link rel="stylesheet" href="~/manage/vendors/mdi/css/materialdesignicons.min.css">
	<!-- css include -->
	<link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="~/assets/css/fontawesome-all.css">
	<link rel="stylesheet" type="text/css" href="~/assets/css/icomoon.css">
	<link rel="stylesheet" type="text/css" href="~/assets/css/animate.css">
	<link rel="stylesheet" type="text/css" href="~/assets/css/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="~/assets/css/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="~/assets/css/magnific-popup.css">
	<link rel="stylesheet" type="text/css" href="~/assets/css/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="~/assets/css/aos.css">

	<!-- custom - css include -->
	<link rel="stylesheet" type="text/css" href="~/assets/css/style.css">

</head>


<body class="pt-0 home-agency-default">


	<!-- backtotop - start -->
	<div id="thetop"></div>
	<div id="backtotop">
		<a href="#" id="scroll">
			<i class="far fa-arrow-up"></i>
		</a>
	</div>
	<!-- backtotop - end -->
	<!-- preloader - start -->
	<div id="preloader"></div>
	<!-- preloader - end -->
	<!-- header-section - start
	================================================== -->
	<header id="header-section" class="header-section sticky-header clearfix">
		<div class="container">
			<div class="row align-items-center">

				<div class="col-lg-4">
					<div class="brand-logo">
						<a asp-action="index" asp-controller="home">
							<img src="~/assets/images/logo/logo_1.png" alt="logo_not_found">
						</a>

						<div class="mobile-menu-btns float-right ul-li-right">
							<ul class="clearfix">
								<li>
									@if (User.Identity.IsAuthenticated)
									{
										var appUser = await _userManager.GetUserAsync(User);
										@* if (appUser != null && appUser.MainImage != null)
										{ *@
											<a asp-action="user" asp-controller="profile" asp-route-username="@User.Identity.Name">

											<img src="~/assets/images/@(appUser.MainImage)" style="margin-top:5px; width:30px; height:30px; border-radius:15px;" />
											</a>
										@* } *@
										@* else
										{
											<img src="~/assets/images/default.jpg" style="font-size:25" />
										} *@
									}
								</li>
								<li>
									<button type="button" class="menu-btn">
										<span></span>
										<span></span>
										<span></span>
									</button>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-lg-8">
					<nav class="main-menu ul-li-right clearfix">

						<ul class="clearfix">
							<li>
								<div class="widget widget-search" data-aos="fade-up" data-aos-delay="100">

									<form method="get" asp-controller="search" asp-action="search" class="searchbox">
										<div class="form-item">
											<input type="search" name="searchTerm" placeholder="Type Your Keywords">
											<button style="background-color:white;" type="submit" class="submit-btn"><i class="icon-magnifying-glass"></i></button>
										</div>

									</form>
								</div>
							</li>
							<li class="menu-item-has-child">
								<a href="#!">Browse</a>
								<div class="mega-menu">
									<div  class="row" style="flex-direction:column;">

										<span><h3 class="list-title">Categories</h3></span>
										@foreach (var item in categories)
										{
											<div class="col-lg-2">
												<div class="menu-list ul-li-block">
													<ul style=" display:flex; flex-direction:column; gap:50px;" class="clearfix"  >
														<li><a asp-action="detail" asp-controller="category" asp-route-id="@item.Id">@item.Name</a></li>

													</ul>
												</div>
											</div>
										}
									</div>
								</div>
							</li>

						@* 	<li class="menu-item-has-child">
								<a href="#!">PAGES</a>
								<div class="mega-menu">
									<div class="row justify-content-lg-between">

										<div class="col-lg-2">
											<div class="menu-list ul-li-block">
												<h3 class="list-title">ABOUT US</h3>
												<ul class="clearfix">
													<li><a href="about-1.html">About Us V.1</a></li>
													<li><a href="about-2.html">About Us V.2</a></li>
													<li><a href="about-3.html">About Us V.3</a></li>
													<li><a href="about-4.html">About Us V.4</a></li>
													<li><a href="about-5.html">About Us V.5</a></li>
												</ul>
											</div>
										</div>

										<div class="col-lg-2">
											<div class="menu-list ul-li-block">
												<h3 class="list-title">SERVICES</h3>
												<ul class="clearfix">
													<li><a href="service-1.html">Service V.1</a></li>
													<li><a href="service-2.html">Service V.2</a></li>
													<li><a href="service-3.html">Service V.3</a></li>
													<li><a href="#!"><del>Service V.4</del></a></li>
													<li><a href="#!"><del>Service V.5</del></a></li>
												</ul>
											</div>
										</div>

										<div class="col-lg-2">
											<div class="menu-list ul-li-block">
												<h3 class="list-title">ELEMENTS</h3>
												<ul class="clearfix">
													<li><a href="contact.html">Contact Us V.1</a></li>
													<li><a href="#!"><del>Contact Us V.2</del></a></li>
													<li><a href="#!"><del>Contact Us V.3</del></a></li>
													<li><a href="#!"><del>Contact Us V.4</del></a></li>
													<li><a href="#!"><del>Contact Us V.5</del></a></li>
												</ul>
											</div>
										</div>

										<div class="col-lg-2">
											<div class="menu-list ul-li-block">
												<h3 class="list-title">EXTRA PAGES</h3>
												<ul class="clearfix">
													<li><a href="team.html">Our Team</a></li>
													<li><a href="#!"><del>Team Details</del></a></li>
													<li><a href="testimonial.html">Testimonials</a></li>
													<li><a href="#!"><del>Partners</del></a></li>
													<li><a href="404.html">404 Error</a></li>
													<li><a href="coming-soon.html">Coming Soon</a></li>
												</ul>
											</div>
										</div>

										<div class="col-lg-2">
											<div class="menu-list ul-li-block">
												<h3 class="list-title">NEW PAGES</h3>
												<ul class="clearfix">
													<li><a href="#!"><del>Coming Soon</del></a></li>
													<li><a href="#!"><del>Login Page</del></a></li>
													<li><a href="#!"><del>Error Page</del></a></li>
													<li><a href="#!"><del>Events</del></a></li>
													<li><a href="#!"><del>Partners</del></a></li>
												</ul>
											</div>
										</div>

									</div>
								</div>
							</li> *@

							@* <li class="menu-item-has-child">
							<a href="#!">PORTFOLIO</a>
							<ul class="submenu">
							<li><a href="portfolio-gird-boxed.html">Gird Boxed</a></li>
							<li><a href="portfolio-gird-wide.html">Gird Wide</a></li>
							<li><a href="portfolio-masonry-boxed.html">Masonry Boxed</a></li>
							<li><a href="portfolio-masonry-wide.html">Masonry Wide</a></li>
							<li><a href="portfolio-merged-boxed.html">Merged Boxed</a></li>
							<li><a href="portfolio-merged-wide.html">Merged Wide</a></li>
							<li><a href="portfolio-metro-boxed.html">Metro Boxed</a></li>
							<li><a href="portfolio-metro-wide.html">Metro Wide</a></li>
							<li><a href="portfolio-creative.html">Creative</a></li>
							<li><a href="portfolio-minimal.html">Minimal</a></li>
							<li class="menu-item-has-child">
							<a href="#!">Portfolio Details</a>
							<ul class="submenu">
							<li><a href="portfolio-details-1.html">Portfolio Details V.1</a></li>
							<li><a href="portfolio-details-2.html">Portfolio Details V.2</a></li>
							<li><a href="portfolio-details-3.html">Portfolio Details V.3</a></li>
							<li><a href="portfolio-details-4.html">Portfolio Details V.4</a></li>
							<li><a href="portfolio-details-5.html">Portfolio Details V.5</a></li>
							<li><a href="portfolio-details-6.html">Portfolio Details V.6</a></li>
							<li><a href="portfolio-details-7.html">Portfolio Details V.7</a></li>
							<li><a href="portfolio-details-8.html">Portfolio Details V.8</a></li>
							</ul>
							</li>
							</ul>
							</li> *@

							@if (User.Identity.IsAuthenticated)
							{
								@if (User.IsInRole("Author"))
								{
									<li class="menu-item-has-child">
										<a>Book</a>
										<ul class="submenu">
											<li><a asp-action="create" asp-controller="book" asp-route-id="@user.Id">Create a new story</a></li>


											<li><a asp-action="index" asp-controller="book">My stroies</a></li>


										</ul>
									</li>
								}
							}
							@* else
							{
							<li><a asp-action="register" asp-controller="appuser">Register</a></li>
							}
							<li onchange="this.form.submit()">
							<button class="button" style="vertical-align:middle"><a asp-action="premium" asp-controller="premium" asp-route-username="@user.UserName"><span>trypremium </span> </a></button>
							@* <script src="//checkout.stripe.com/v2/checkout.js"
							class="stripe-button"
							data-key="@Stripe.Value.PublishableKey"
							data-amount="@ViewBag.Total"
							data-name="WREADE"
							data-locale="en"
							data-discription="Sample charge"
							data-image="/assets/images/bg2.jpg"
							data-zip-code="true">
							</script>
							*@


							<li>
								<a asp-action="index" asp-controller="library" asp-route-userId="@user.Id"><i style="font-size:23px;" class="mdi mdi-library"></i></a>
							</li>
							<li class="menu-item-has-child">
								@if (User.Identity.IsAuthenticated)
								{
									var appUser = await _userManager.GetUserAsync(User);
									if (appUser != null && appUser.MainImage != null)
									{
										<img src="~/assets/images/@(appUser.MainImage)" style="margin-top:5px; width:30px; height:30px; border-radius:15px;" />
									}
									else
									{
										<img src="~/assets/images/default.jpg" style="margin-top:5px; font-size:25" />
									}

									<ul class="submenu">
										<li><a asp-action="user" asp-controller="profile" asp-route-username="@User.Identity.Name">My Profile</a></li>
										@if (User.IsInRole("Admin"))
										{
											<li><a asp-action="index" asp-controller="dashboard" asp-route-area="manage"> DashBoard </a></li>
										}
										else
										{
											<li><a asp-action="user" asp-controller="profile" asp-route-username="@User.Identity.Name">My Library </a></li>
										}
										<li><a asp-action="appuser" asp-controller="logout">Setting</a></li>

										<li><a asp-action="logout" asp-controller="appuser">Logout</a></li>

									</ul>
								}
							</li>
						</ul>
					</nav>
				</div>

			</div>
		</div>
	</header>

	<div class="sidebar-menu-wrapper">
		<div id="sidebar-menu" class="sidebar-menu">
			<span class="close-btn"><i class="fal fa-times"></i></span>

			@* <div id="menu-list" class="menu-list ul-li-block clearfix">
			<ul class="clearfix">
			<li class="menu-item-has-child">
			<a href="#home-submenu" data-toggle="collapse" aria-expanded="false">HOME</a>
			<ul class="submenu collapse" id="home-submenu" data-parent="#menu-list">
			<li><a href="home-agency-default.html">Agency Default</a></li>
			<li><a href="home-agency-classic.html">Agency Classic</a></li>
			<li><a href="home-agency-creative.html">Agency Creative</a></li>
			<li><a href="home-studio-agency.html">Atudio Agency</a></li>
			<li><a href="home-agency-minimal.html">Agency Minimal</a></li>
			<li><a href="home-agency-startup.html">Agency Startup</a></li>
			<li><a href="home-agency-marketing.html">Agency Marketing</a></li>
			<li><a href="home-agency-simple.html">Agency Simple</a></li>
			<li><a href="home-portfolio-1.html">Portfolio V.1</a></li>
			<li><a href="home-portfolio-2.html">Portfolio V.1</a></li>
			<li><a href="home-portfolio-3.html">Portfolio V.3</a></li>
			<li><a href="home-portfolio-4.html">Portfolio Dark</a></li>
			<li><a href="home-photographer.html">Photographer</a></li>
			<li><a href="home-freelancer.html">Freelancer</a></li>
			<li><a href="home-designer.html">Designer</a></li>
			<li><a href="home-personal.html">Personal</a></li>
			<li><a href="home-app-landing.html">App Landing</a></li>
			<li><a href="home-architecture.html">Architecture</a></li>
			<li><a href="home-restaurant.html">Restaurant</a></li>
			<li><a href="home-hotel.html">Hotel</a></li>
			<li><a href="home-events.html">Events</a></li>
			<li><a href="home-decoration.html">Decoration</a></li>
			<li><a href="home-wedding.html">Wedding</a></li>
			<li><a href="home-travel.html">Travel</a></li>
			<li><a href="home-yoga.html">Yoga</a></li>
			<li><a href="home-dlogger.html">Blogger</a></li>
			<li><a href="home-project-showcase.html">Project Showcase</a></li>
			</ul>
			</li>

			<li>
			<a href="#about-submenu" data-toggle="collapse" aria-expanded="false">ABOUT</a>
			<ul class="submenu collapse" id="about-submenu" data-parent="#menu-list">
			<li><a href="about-1.html">About Us V.1</a></li>
			<li><a href="about-2.html">About Us V.2</a></li>
			<li><a href="about-3.html">About Us V.3</a></li>
			<li><a href="about-4.html">About Us V.4</a></li>
			<li><a href="about-5.html">About Us V.5</a></li>
			</ul>
			</li>

			<li>
			<a href="#service-submenu" data-toggle="collapse" aria-expanded="false">SERVICE</a>
			<ul class="submenu collapse" id="service-submenu" data-parent="#menu-list">
			<li><a href="service-1.html">Service V.1</a></li>
			<li><a href="service-2.html">Service V.2</a></li>
			<li><a href="service-3.html">Service V.3</a></li>
			</ul>
			</li>

			@* <li>
			<a href="#portfolio-submenu" data-toggle="collapse" aria-expanded="false">PORTFOLIO</a>
			<ul class="submenu collapse" id="portfolio-submenu" data-parent="#menu-list">
			<li><a href="portfolio-gird-boxed.html">Gird Boxed</a></li>
			<li><a href="portfolio-gird-wide.html">Gird Wide</a></li>
			<li><a href="portfolio-masonry-boxed.html">Masonry Boxed</a></li>
			<li><a href="portfolio-masonry-wide.html">Masonry Wide</a></li>
			<li><a href="portfolio-merged-boxed.html">Merged Boxed</a></li>
			<li><a href="portfolio-merged-wide.html">Merged Wide</a></li>
			<li><a href="portfolio-metro-boxed.html">Metro Boxed</a></li>
			<li><a href="portfolio-metro-wide.html">Metro Wide</a></li>
			<li><a href="portfolio-creative.html">Creative</a></li>
			<li><a href="portfolio-minimal.html">Minimal</a></li>
			<li><a href="portfolio-details-1.html">Portfolio Details V.1</a></li>
			<li><a href="portfolio-details-2.html">Portfolio Details V.2</a></li>
			<li><a href="portfolio-details-3.html">Portfolio Details V.3</a></li>
			<li><a href="portfolio-details-4.html">Portfolio Details V.4</a></li>
			<li><a href="portfolio-details-5.html">Portfolio Details V.5</a></li>
			<li><a href="portfolio-details-6.html">Portfolio Details V.6</a></li>
			<li><a href="portfolio-details-7.html">Portfolio Details V.7</a></li>
			<li><a href="portfolio-details-8.html">Portfolio Details V.8</a></li>
			</ul>
			</li> *@

			@* <li>
			<a href="#pages-submenu" data-toggle="collapse" aria-expanded="false">PAGES</a>
			<ul class="submenu collapse" id="pages-submenu" data-parent="#menu-list">
			<li><a href="team.html">Our Team</a></li>
			<li><a href="contact.html">Contact Us</a></li>
			<li><a href="testimonial.html">Testimonials</a></li>
			<li><a href="404.html">404 Error</a></li>
			<li><a href="coming-soon.html">Coming Soon</a></li>
			</ul>
			</li> *@



			@* 	<li>
			<a href="#shop-submenu" data-toggle="collapse" aria-expanded="false">SHOP</a>
			<ul class="submenu collapse" id="shop-submenu" data-parent="#menu-list">
			<li><a href="shop-1.html">Shop</a></li>
			<li><a href="shop-2.html">Shop Sidebar</a></li>
			<li><a href="shop-cart.html">Shop Cart</a></li>
			<li><a href="shop-checkout.html">Shop Checkout</a></li>
			<li><a href="shop-details.html">Shop Details</a></li>
			</ul>
			</li> *@
			@*
			<li>
			<a href="#shortcodes-submenu" data-toggle="collapse" aria-expanded="false">SHORTCODES</a>
			<ul class="submenu collapse" id="shortcodes-submenu" data-parent="#menu-list">
			<li><a href="#!">Example V.1</a></li>
			<li><a href="#!">Example V.2</a></li>
			<li><a href="#!">Example V.3</a></li>
			<li><a href="#!">Example V.4</a></li>
			<li><a href="#!">Example V.5</a></li>
			</ul>
			</li>
			</ul>
			</div>
			</div>  *@

			<div id="cart-sidebar" class="cart-sidebar">
				<div class="dismiss text-right mb-60 clearfix">
					
						@if (User.Identity.IsAuthenticated)
						{
							var appUser = await _userManager.GetUserAsync(User);
							@* if (appUser != null && appUser.MainImage != null)
						{ *@
							<a asp-action="user" asp-controller="profile" asp-route-username="@User.Identity.Name">

								<img src="~/assets/images/@(appUser.MainImage)" style="margin-top:5px; width:30px; height:30px; border-radius:15px;" />
							</a>
							@* } *@
							@* else
						{
						<img src="~/assets/images/default.jpg" style="font-size:25" />
						} *@
						}
					
				</div>

				
			</div>

			<div class="overlay"></div>
		</div>
		<!-- header-section - end
		================================================== -->
		@RenderBody()

		<!-- footer-section - start
		================================================== -->
		<footer id="footer-section" class="footer-section sec-ptb-100 clearfix">
			<div class="container">
				<div class="row">

					<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
						<div class="brand-logo clearfix">
							<a asp-controller="home" asp-action="index">
								<img src="~/assets/images/logo/logo_1.png" alt="logo_not_found">
							</a>
						</div>
					</div>

					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<div class="useful-links ul-li-block clearfix">
							<ul class="clearfix">
								<li><a href="#!">COMPANY</a></li>
								<li><a href="service-1.html">SERVICES</a></li>
								<li><a href="#!">CASE STUDIES</a></li>
								<li><a href="contact.html">CONTACT</a></li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
						<div class="useful-links ul-li-block clearfix">
							<ul class="clearfix">
								<li><a href="#!">+2 0100-843-1112</a></li>
								<li><a href="#!">hola@afkar.agency</a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</footer>
		<!-- footer-section - end
		================================================== -->
		<!-- jquery include -->
		<script src="~/assets/js/jquery-1.10.1.min.js"></script>
		<script src="~/assets/js/popper.min.js"></script>
		<script src="~/assets/js/bootstrap.min.js"></script>
		<script src="~/assets/js/owl.carousel.min.js"></script>
		<script src="~/assets/js/counterup.min.js"></script>
		<script src="~/assets/js/waypoints.min.js"></script>
		<script src="~/assets/js/countdown.js"></script>
		<script src="~/assets/js/magnific-popup.min.js"></script>
		<script src="~/assets/js/isotope.pkgd.min.js"></script>
		<script src="~/assets/js/masonry.pkgd.min.js"></script>
		<script src="~/assets/js/imagesloaded.pkgd.min.js"></script>
		<script src="~/assets/js/jquery-ui.js"></script>
		<script src="~/assets/js/aos.js"></script>
		<script src="~/assets/js/validate.js"></script>

		<!-- google map - jquery include -->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDk2HrmqE4sWSei0XdKGbOMOHN3Mm2Bf-M&ver=2.1.6"></script>
		<script src="~/assets/js/gmaps.min.js"></script>

		<!-- mobile menu - jquery include -->
		<script src="~/assets/js/mCustomScrollbar.js"></script>

		<!-- custom - jquery include -->
		<script src="~/assets/js/custom.js"></script>


</body>
</html>
<style>
	.button {
		display: inline-block;
		border-radius: 41px;
		background-color: #f4511e;
		border: none;
		color: #FFFFFF;
		text-align: center;
		font-size: 15px;
		padding: 2px;
		width: 100px;
		transition: all 0.5s;
		cursor: pointer;
		margin: 0px;
	}

		.button span {
			cursor: pointer;
			display: inline-block;
			position: relative;
			transition: 0.5s;
		}

			.button span:after {
				content: '\00bb';
				position: absolute;
				opacity: 0;
				top: 0;
				right: -20px;
				transition: 0.5s;
			}

		.button:trypremium span {
			padding-right: 25px;
		}

			.button:trypremium span:after {
				opacity: 1;
				right: 0;
			}
</style>