@model SearchVM
<main>
	<section id="breadcrumb-section" style="padding:140px;0px;" class="breadcrumb-section sec-ptb-100 text-center text-white clearfix " data-background="/assets/images/backgrounds/bg_4.jpg" style="background-image: url(&quot;assets/images/backgrounds/bg_4.jpg&quot;);">
				<div class="container">
					<h2 class="page-title mb-30">Recent Stories</h2>
					<div class="breadcrumb-nev ul-li-center clearfix">
						<ul class="clearfix">
							<li><a asp-action="index" asp-controller="home"><i class="fas fa-home mr-1"></i>Home</a></li>
							<li><i class="fas fa-chevron-circle-right mr-1"></i>Search</li>
						</ul>
					</div>
				</div>
			</section>
<!-- blog-section - start
			================================================== -->
<section id="blog-section" class="blog-section sec-ptb-100 clearfix">
	<div class="container">
		<div class="row justify-content-lg-between justify-content-md-center justify-content-sm-center">
			<div class="button-group filters-button-group ul-li clearfix aos-init aos-animate" data-aos="fade-right" data-aos-delay="200">
			
			</div>
			<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
				@if (Model.books.Any())
				{
					@foreach (var item in Model.books)
					{
						<div class="blog-list clearfix" data-aos="fade-up" data-aos-delay="100">
							<a asp-action="detail" asp-controller="book" asp-route-id="@item.Id" class="item-image">
								<img src="~/assets/images/@item.CoverPhoto" alt="image_not_found">
							</a>
							<div class="item-content">
								<h3 class="item-title">
									<a asp-action="detail" asp-controller="book" asp-route-id="@item.Id">
										@item.Name
									</a>
								</h3>
								<div class="post-meta ul-li mb-30 clearfix">
									<ul class="clearfix">
										<li>@item.CreatedAt</li>
										<li><a asp-action="user" asp-controller="profile" asp-route-username="@item.CreatedBy">@item.CreatedBy</a></li>
									</ul>
								</div>
								<p class="mb-0">
									@item.Description
								</p>
							</div>
						</div>
					}
				}
				else
				{
					<br>
					<img style="justify-content:center"  src="~/assets/images/error.jpg" alt="image_not_found">
				}

				

				
			</div>

			<div class="col-lg-3 col-md-5 col-sm-12 col-xs-12">
				<aside id="sidebar-section" class="sidebar-section">

					<div class="widget widget-search" data-aos="fade-up" data-aos-delay="100">
						<h3 class="widget-title"><span>SEARCH</span></h3>
						<form method="get" asp-controller="search" asp-action="search" class="searchbox">
							<div class="form-item">
								<input type="search" name="searchTerm" placeholder="Type Your Keywords">
								<button type="submit" class="submit-btn"><i class="icon-magnifying-glass"></i></button>
							</div>

						</form>
					</div>

					<div class="widget widget-blogs clearfix" data-aos="fade-up" data-aos-delay="200">
						<h3 class="widget-title"><span>Latestly Books</span></h3>
						<div class="items-list ul-li-block clearfix">
							<ul class="clearfix">
								@foreach (var item in Model.books.OrderBy(b=>b.Id).Take(3))
								{
									<li>
										<div class="small-blog clearfix">
											<a href="#!" class="item-image">
												<img src="~/assets/images/@item.CoverPhoto" alt="image_not_found">
											</a>
											<div class="item-content">
												<h3 class="item-title">
													<a href="#!">
														@item.Name
													</a>
												</h3>
												<span class="post-date">@item.CreatedAt</span>
											</div>
										</div>
									</li>
								}

							</ul>
						</div>
					</div>

					<div class="widget widget-category" data-aos="fade-up" data-aos-delay="300">
						<h3 class="widget-title"><span>CATEGORIES</span></h3>
						<div class="items-list ul-li-block clearfix">
							<ul class="clearfix">
								@if (Model.books.Count>0)
									{
										@foreach (var item in Model.books.FirstOrDefault().BookCategories.Where(c => c.BookId == c.Book.Id))
										{
											<li><a href="#!">@item.Category.Name <span>@item.Category.BookCategories.Where(c=>c.BookId==c.Book.Id).Count()</span></a></li>

										}
									}
								
							
							</ul>
						</div>
					</div>

					<div class="widget widget-newsletter bg-default-black text-center text-white clearfix" data-aos="fade-up" data-aos-delay="400">
						<h3 class="mb-30 text-white">
							Keep Updated & Get Unlimited Discount
						</h3>
						<form action="#">
							<div class="form-item">
								<input type="email" name="email" placeholder="Your Email Address">
							</div>
							<button type="submit" class="btn btn-border border-white">Submit</button>
						</form>
					</div>

					<div class="widget widget-tags" data-aos="fade-up" data-aos-delay="500">
						<h3 class="widget-title"><span>TAGS</span></h3>
						<div class="items-list ul-li clearfix">
							<ul class="clearfix">
								<li><a href="#!">Envato</a></li>
								<li><a href="#!">Leather</a></li>
								<li><a href="#!">Bags</a></li>
								<li><a href="#!">Fashion</a></li>
								<li><a href="#!">Hats</a></li>
								<li><a href="#!">Clothing</a></li>
								<li><a href="#!">T-Shart</a></li>
								<li><a href="#!">Shoes</a></li>
							</ul>
						</div>
					</div>

				</aside>
			</div>

		</div>
	</div>
</section>
<!-- blog-section - end
================================================== -->
</main>