@using Microsoft.AspNetCore.Identity;
@model HomeVM
@inject UserManager<AppUser> _userManager;

<!-- Carousel Start -->
<div class="container-fluid p-0 pb-5">
	<div class="owl-carousel header-carousel position-relative">
		@foreach (var item in Model.MostReadCategory.OrderByDescending(c => c.Id).Take(3))
		{
			<div class="owl-carousel-item position-relative">
				<img class="img-fluid" src="~/assets/assets/img/@item.Image" alt="">
				<div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(53, 53, 53, .7);">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-12 col-lg-8 text-center">
								<h5 class="text-white text-uppercase mb-3 animated slideInDown">Welcome To Wreade</h5>
								<h1 class="display-3 text-white animated slideInDown mb-4">@item.Name</h1>
								<a asp-action="AllCategory" asp-controller="category" asp-route-area="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		}
	</div>
</div>
<!-- Carousel End -->
<!-- Feature Start -->
<!-- Feature Start -->
<!-- Service Start -->
<div class="container-xxl py-5">
	<div class="container ">
		<div class="section-title text-center">
			<h1 class="display-5 mb-5">What we`re Reading Now</h1>
		</div>
		<div class="row g-4 d-flex ">
			@{
				var books = Model.Books.Take(6);
			}
			@foreach (var item in books.OrderByDescending(b => b.Id))
			{
				<div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
					<div class="service-item">
						<div class="overflow-hidden">
							<img class="img-fluid" src="~/assets/assets/img/@item.CoverPhoto" alt="">
						</div>
						<div class="p-4 text-center border border-5 border-light border-top-0">
							<h4 class="mb-3">@item.Name</h4>
							@{

								var sentences = item.Description.Split('.').Take(1);
								var shortenedDescription = string.Join(".", sentences);
							}
							<p>@shortenedDescription</p>
							<a class="fw-medium" asp-action="detail" asp-controller="book" asp-route-id="@item.Id">Read More<i class="fa fa-arrow-right ms-2"></i></a>
							<a class="fw-medium" asp-action="addlibrary" asp-controller="library" asp-route-bookid="@item.Id"><i class="fa fa-plus"></i></a>

						</div>
					</div>
				</div>
			}
		</div>

	</div>
</div>
@{
	var book = Model.Books.Where(b => b.IsCompleted == true).OrderByDescending(b => b.Id).Take(6);
}
@if (Model.Books.Any(b => b.IsCompleted))
{

	<div class="container-xxl py-5">
		<div class="container ">
			<div class="section-title text-center">
				<h1 class="display-5 mb-5">Completed Stories</h1>
			</div>
			<div class="row g-4 d-flex ">
				@foreach (var item in book)
				{
					<div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
						<div class="service-item">
							<div class="overflow-hidden">
								<img class="img-fluid" src="~/assets/assets/img/@item.CoverPhoto" alt="">
							</div>
							<div class="p-4 text-center border border-5 border-light border-top-0">
								<h4 class="mb-3">@item.Name</h4>
								@{

									var sentences = item.Description.Split('.').Take(1);
									var shortenedDescription = string.Join(".", sentences);
								}
								<p>@shortenedDescription</p>
								<a class="fw-medium" asp-action="detail" asp-controller="book" asp-route-id="@item.Id">Read More<i class="fa fa-arrow-right ms-2"></i></a>
								<a class="fw-medium" asp-action="addlibrary" asp-controller="library" asp-route-bookid="@item.Id"><i class="fa fa-plus"></i></a>
							</div>
						</div>
					</div>
				}
			</div>

		</div>
	</div>
}
<!-- Projects Start -->
@{
	var bk = Model.Books.OrderByDescending(b => b.Id).Take(6);
}
@if (Model.Books is not null)
{

	<div class="container-xxl py-5">
		<div class="container ">
			<div class="section-title text-center">
				<h1 class="display-5 mb-5">Latest Books</h1>
			</div>
			<div class="row g-4 d-flex ">
				@foreach (var item in bk)
				{
					<div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
						<div class="service-item">
							<div class="overflow-hidden">
								<img class="img-fluid" src="~/assets/assets/img/@item.CoverPhoto" alt="">
							</div>
							<div class="p-4 text-center border border-5 border-light border-top-0">
								<h4 class="mb-3">@item.Name</h4>
								@{

									var sentences = item.Description.Split('.').Take(1);
									var shortenedDescription = string.Join(".", sentences);
								}
								<p>@shortenedDescription</p>
								<a class="fw-medium" asp-action="detail" asp-controller="book" asp-route-id="@item.Id">Read More<i class="fa fa-arrow-right ms-2"></i></a>
								<a class="fw-medium" asp-action="addlibrary" asp-controller="library" asp-route-bookid="@item.Id"><i class="fa fa-plus"></i></a>

							</div>
						</div>
					</div>
				}
			</div>

		</div>
	</div>
}
<!-- Projects End -->
<!-- Team Start -->
@if (User.Identity.IsAuthenticated)
{
	AppUser user = await _userManager.FindByNameAsync(User.Identity.Name);
	var appUser = await _userManager.GetUserAsync(User);
	@if (DateTime.UtcNow.Year - appUser.Birthday.Year > 17)
	{
		@if (Model.Books.Any(b => b.IsAdult == true))
		{

			<div class="container-xxl py-5">
				<div class="container">
					<div class="section-title text-center">
						<h1 class="display-5 mb-5">For Adult</h1>
					</div>
					<div class="row g-4">
						@foreach (var item in Model.Books.Where(b => b.IsAdult == true).OrderByDescending(b => b.Id))
						{
							<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
								<div class="team-item">
									<div class="overflow-hidden position-relative">
										<img class="img-fluid" src="~/assets/assets/img/@item.CoverPhoto" alt="">
										<div class="team-social">
											<a class="btn btn-square" asp-action="detail" asp-controller="book" asp-route-id="@item.Id"><i class="mdi mdi-more"></i></a>

											<a class="btn btn-square" asp-action="addlibrary" asp-controller="library" asp-route-bookid="@item.Id"><i class="fa fa-plus"></i></a>


										</div>
									</div>
									<div class="text-center border border-5 border-light border-top-0 p-4">
										<h5 class="mb-0">@item.Name</h5>
										<small>@@@item.User.UserName</small>
									</div>
								</div>
							</div>
						}
					</div>
				</div>
			</div>
		}
	}

}
<!-- Team End -->
<!-- Testimonial Start -->
@* @if (User.Identity.IsAuthenticated)
{
 <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container">
   <div class="section-title text-center">
 <h1 class="display-5 mb-5">Testimonial</h1>
   </div>
   <div class="owl-carousel testimonial-carousel">
   @foreach (var item in Model.Users.Where(User.IsInRole("Writer")).ToString())
 {
  <div class="testimonial-item text-center">
   <img class="img-fluid bg-light p-2 mx-auto mb-3" src="~/assets/assets/img/@item.Follower.MainImage" style="width: 90px; height: 90px;">
   <div class="testimonial-text text-center p-4">
 <p>@item.Followee.SelfInformation</p>
 <h5 class="mb-1">@item.Followee.Name</h5>
 @* <span class="fst-italic">@</span> *@

<!-- Testimonial End -->