@using Wreade.Application.ViewModels;
@using Wreade.Domain.Enums;
@model HomeVM
@{
	int count = 0;
}

<!-- main body - start
	================================================== -->
<main>


	<!-- slider-section - start
	================================================== -->
	<section id="slider-section" class="slider-section clearfix">
		<div id="agency-default-carousel" class="agency-default-carousel owl-carousel owl-theme">

			@if (User.IsInRole("Author"))
			{
				@foreach (var item in Model.Books.OrderByDescending(b => b.Rating)
						.Take(3))
				{


					<div class="item bg-gray d-flex align-items-center">
						<div class="container">
							<div class="row align-items-center">

								<div class="col-7">
									<div class="slider-content">
										<h3 class="item-title">
											@item.Name
										</h3>
										<p>
											@item.User.SelfInformation
										</p>
										<a href="#!" class="btn">Go Profile</a>
									</div>
								</div>

								<div class="col-5">
									<div class="slider-image">
										@foreach (var book in @item.User.Books.OrderByDescending(b => b.Rating)
												.Take(3))
										{
											<div class="child-image child-image-1">
												<img src="~/assets/images/@book.CoverPhoto" alt="image_not_found">
											</div>
										}

									</div>
								</div>

							</div>
						</div>

						<div class="absolute-social-wrap sec-ptb-60 pt-0">
							<div class="container">
								<div class="social-links-text ul-li clearfix">
									<ul class="clearfix">
										<li><a href="@item.User.Facebook">facebook</a></li>
										<li><a href="@item.User.Twitter">twitter</a></li>
										<li><a href="@item.User.Instagram">instagram</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				}
			}

		</div>
	</section>
	<!-- slider-section - end
	================================================== -->
	<!-- portfolio-section - start
	================================================== -->
	@if (@Model.Books.Count >= 1)
	{
		<section id="portfolio-section" class="portfolio-section sec-ptb-100 pt-0 text-center clearfix">
			<div class="container">

				<div class="section-title text-center mb-60" data-aos="fade-up" data-aos-delay="100">
					@if (User.Identity.IsAuthenticated)
					{
						<h2 class="title-text mb-15">
							My Library
						</h2>
					}
					else
					{
						<h2 class="title-text mb-15">
							We Think You`ll Enjoy
						</h2>
					}

					<p class="mb-0">Design is intelligence made visible</p>
				</div>

				<div class="masoney-grid mb-60">
					<div class="grid-sizer"></div>

					@if (User.Identity.IsAuthenticated)
					{

					}
					else
					{
						@foreach (var item in Model.Books.Where(u => u.Rating == Model.Books.Max(b => b.Rating))
								.Take(6))
						{
							<div class="grid-item">
								<a href="#!" class="portfolio-fullimage add-effect" data-aos="fade-up" data-aos-delay="100">
									<img src="~/assets/images/@item.CoverPhoto" alt="image_not_found">
									<span class="item-content-2">
										<strong class="item-title">@item.Name</strong>
										@if (item != null && item.Chapters != null)
										{
											<small class="item-brand">@item.Chapters.Count</small>
										}
										
										else
										{
											<span>0</span>
										}
									</span>
								</a>
							</div>
						}
					}


				</div>

				<div class="btn-wrap text-center clearfix" data-aos="fade-up" data-aos-delay="100">
					<a href="portfolio-gird-boxed.html" class="btn">View All Works</a>
				</div>

			</div>
		</section>
	}
	else
	{

	}
	<!-- portfolio-section - end
	================================================== -->
	<!-- service-section - start
	================================================== -->
	@if (User.IsInRole("Author"))
	{
		<section id="service-section" class="service-section sec-ptb-100 bg-light-gray clearfix">
			<div class="container">
				<div class="row mt--60">
					@foreach (var item in Model.Books.OrderByDescending(b => b.Rating)
							.Take(3))
					{
						count++;
						<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
							<div class="service-default" data-aos="fade-up" data-aos-delay="100">
								<span class="serial-number">@count</span>
								<h3 class="item-title">@item.User.Name</h3>
								<p class="mb-0">
									@item.User.SelfInformation
								</p>
							</div>
						</div>
					}
				</div>
			</div>
		</section>
	}
	<!-- service-section - end
	================================================== -->
	<!-- team-section - start
	================================================== -->
	@if (Model.Books.Count >= 1)
	{
		<section id="team-section" class="team-section sec-ptb-100 clearfix">
			<div class="container">

				<div class="section-title text-center mb-30" data-aos="fade-up" data-aos-delay="100">
					<h2 class="title-text mb-15">Are You Want Read Book?</h2>
					<p class="mb-0">Latest Books</p>
				</div>

				<div class="row">
					@foreach (var item in Model.Books.OrderByDescending(b => b.Id))
					{
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<div class="team-fullimage text-center clearfix" data-aos="fade-up" data-aos-delay="100">
								<img src="~/assets/images/@item.CoverPhoto" alt="image_not_found">
								<div class="item-content">
									<div class="person-name"><h3>@item.User.Name</h3></div>
									@if (item != null && item.Chapters != null)
									{
										<small class="item-brand">@item.Chapters.Count</small>
									}

									else
									{
										<span>0</span>
									}
									<div class="person-title"><span>@item.Rating</span></div>
									<div class="person-title">
										<span>
											@if (@item.IsCompleted == true)
											{
												<button type="button" class="btn btn-success btn-rounded btn-fw">Completed</button>
											}
											else
											{
												<button type="button" class="btn btn-warning btn-rounded btn-fw">Ongoing</button>
											}
										</span>
									</div>

								</div>
							</div>
						</div>
					}


				</div>

			</div>
		</section>
	}
	<!-- team-section - end
	================================================== -->
	<!-- testimonial-section - start
	================================================== -->
	<div id="testimonial-section" class="testimonial-section sec-ptb-100 text-center clearfix" data-background="assets/images/backgrounds/book2.jpg">
		<div class="container" data-aos="fade-up" data-aos-delay="100">
			<h1 style="color:#e5e5e5">Explore Premium Picks</h1>
			<h3 style="color:#e5e5e5">Originals with any Premium or</h3>
			<h3 style="color:#e5e5e5">Premium+ plan </h3>
		</div>
	</div>
	<!-- testimonial-section - end
	================================================== -->
	<!-- blog-section - start
	================================================== -->
	@if (Model.MostReadCategory is not null && User.Identity.IsAuthenticated)
	{
		<section id="blog-section" class="blog-section sec-ptb-100 clearfix">
			<div class="container">

				<div class="section-title text-center mb-30" data-aos="fade-up" data-aos-delay="100">
					<h2 style="text-align:center!important" class="title-text mb-15">Your Fav Category</h2>
					<p style="text-align:center!important" class="mb-0">Recent books added to this category</p>
				</div>

				<div class="row">
					@foreach (var item in Model.MostReadCategory)
					{
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
							<div class="blog-grid clearfix" data-aos="fade-up" data-aos-delay="100">
								<a href="#!" class="blog-image">
									<img src="~/assets/images/@item.Book.CoverPhoto" alt="image_not_found">
								</a>
								<h3 class="item-title">
									<a href="#!">
										@item.Book.Name
									</a>
								</h3>
								<div class="post-meta ul-li clearfix">
									<ul class="clearfix">
										@if (item != null && item.Book.Chapters != null)
										{
											<small class="item-brand">@item.Book.Chapters.Count</small>
										}

										else
										{
											<span>0</span>
										}
										<li><a href="#!">@item.Book.User.UserName</a></li>
									</ul>
								</div>
							</div>
						</div>
					}


				</div>

			</div>
		</section>
	}

	<!-- blog-section - end
	================================================== -->
	<!-- partners-section - start
	================================================== -->
	<div id="partners-section" class="partners-section sec-ptb-100 bg-light-gray clearfix">
		<div class="container" data-aos="fade-up" data-aos-delay="100">
			<div id="partners-carousel" class="partners-carousel arrow-left-right owl-carousel owl-theme">
				@* @if (User.IsInRole("Author")) *@
				@* { *@
					@foreach (var item in Model.Users)
					{
						<div class="item">
							<a class="partner-logo" asp-controller="profile" asp-action="user"  asp-route-username="@item.UserName">
								<img class="before-image" src="~/assets/images/@item.MainImage" alt="image_not_found">
								<img class="after-image" src="~/assets/images/@item.BackImage" alt="image_not_found">
							</a>
						</div>
				@* } *@
				<h3 class="item-title">
					<a href="#!">
						@item.Name
					</a>
				</h3>
					}
			</div>
		</div>
	</div>
	<!-- partners-section - end
	================================================== -->


</main>
<!-- main body - end